
html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
/* background: var(--surface-ground);
color: var(--text-color); */
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(31, 26, 26);
    color: white; /* Cambia el color del texto a blanco para mejor visibilidad */
}

.card {
    background: var(--surface-card);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}